.idea
.vs
cocoapi
deep_sort
mannequin
maskrcnn
pedestrian
results
runs
training
yolov5-coco-datasets
9.mp4
eda.ipynb
eda.py
tempCodeRunnerFile.py
test.ipynb
test.mp4
testing.py
tracking.py
train.py
yolov11n.pt 
