.idea
.vs
coco2
coco3xml
coco12
coco13
cocoapi
deep_sort
FasterRCNN
mannequin
maskrcnn
pedestrian
results
runs
test
yolov5-coco-datasets
yolov11
9.mp4
eda.ipynb
eda.py
evaluate.py
tempCodeRunnerFile.py
test.ipynb
test.mp4
testing.py
tracking.py
train.py
yolov11n.pt 
